* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#link {
    
    margin-top: 12px;
    text-align: center;
    
}

#logo1 {
    padding: 13;

}

#About {
    color: #FF5DA3;
    font-family: Inter;
    font-size: 18px;
    text-decoration: none;
    margin-top: 12px;
    margin-left: 80px;
}

#offer {
    color: #323232;
    font-family: Inter;
    font-size: 18px;
    text-decoration: none;
    padding-left: 20px;
}

#Contact {
    color: #323232;

    font-family: Inter;
    font-size: 18px;
    text-decoration: none;
    padding-left: 20px;

}

#Help1 {
    color: #323232;

    font-family: Inter;
    font-size: 18px;
    text-decoration: none;
    padding-left: 20px;
}

#us {
    color: #FFF;

    font-family: Inter;
    font-size: 14px;
    width: 105px;
    height: 35px;
    padding: 8px 16px;
    border-radius: 8px;
    background: #00AC25;
    margin-left: 80px;
}

#box1 {
    max-width: 1316px;
    margin: 0 auto;
}

#you {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 72px;
    margin-top: 221px;
}

#become {
    color: #FF5DA3;
    font-family: Inter;
    font-size: 72px;
}

#unlock {
    color: #000;
    text-align: center;
    font-family: "IBM Plex Sans KR";
    font-size: 24px;
    margin-top: 24px;
   

}

#many {
    color: #000;
    text-align: center;
    font-family: "Instrument Sans";
    font-size: 48px;
    margin-top: 24px;
    
   
}

#world {
    color: #6941C6;
    text-align: center;
    font-family: "Hind Vadodara";
    font-size: 24px;
    margin-top: 24px;
    width: 716px;
    margin-left: 300px;
}

#button2 {
    color: #FFF;

    font-family: Inter;
    font-size: 18px;
    border-radius: 8px;
    background: #00AC25;
    margin-top: 24px;
    padding: 16px 24px;
    margin-left: 542px;

}
#logo3 {
    margin-left: 202px;
    width: 142px;
    height: 32px;
    vertical-align: middle;

}

#footer-conteiner {
    
    background-color: #6941C6;
    height: 124px;
    padding: 48px;
    margin-top: 535px;
    
}
#link-box {
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
    margin-left: 192px;

}
a {
    text-decoration: none;
    margin-left: 10px;
    color: aliceblue;
}
#UI {
   
    display: inline-block;
    vertical-align: middle;
    margin-left: 192px;
    color: aliceblue;

}

